In [1]:
import os 
os.listdir()

['.ipynb_checkpoints',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'test.txt',
 'Testing.ipynb',
 'Untitled.ipynb']

In [2]:
import pandas

In [34]:
df1 = pandas.read_csv("supermarkets.csv")
df1.set_index("ID")
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [33]:
df2 = pandas.read_json("supermarkets.json")
df2

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [32]:
df3=pandas.read_excel("supermarkets.xlsx",sheetname=0)
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [31]:
df4=pandas.read_csv("supermarkets-commas.txt")
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [30]:
df5=pandas.read_csv("supermarkets-semi-colons.txt", sep=";")
df5

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [29]:
df6=pandas.read_csv("http://pythonhow.com/supermarkets.csv")
df6

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [36]:
df7=pandas.read_json("http://pythonhow.com/supermarkets.json")
df7

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [38]:
df7=df7.set_index("Address")

In [39]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [41]:
df7.set_index?

In [42]:
df7.loc["735 Dolores St":"332 Hill St","Country":"ID"]

               Country  Employees  ID
Address
735 Dolores St     USA         15   2
332 Hill St        USA         25   3

In [43]:
df7.loc["332 Hill St","Country":"ID"]

Country      USA
Employees     25
ID             3
Name: 332 Hill St, dtype: object

In [44]:
list(df7.loc[:,"Country"])

['USA', 'USA', 'USA', 'USA', 'USA', 'USA']

In [50]:
df7.iloc[3,1:4]

Country      USA
Employees     10
ID             4
Name: 3995 23rd St, dtype: object

In [55]:
df7.ix[3,4]

'Sanchez'

In [56]:
df7=df7.drop("332 Hill St",0)

ValueError: labels ['332 Hill St'] not contained in axis

In [57]:
df7

                          City Country  Employees  ID         Name       State
Address
3666 21st St     San Francisco     USA          8   1      Madeira    CA 94114
735 Dolores St   San Francisco     USA         15   2  Bready Shop    CA 94119
3995 23rd St     San Francisco     USA         10   4   Ben's Shop    CA 94114
1056 Sanchez St  San Francisco     USA         12   5      Sanchez  California
551 Alvarado St  San Francisco     USA         20   6   Richvalley    CA 94114

In [60]:
df7=df7.drop(df7.index[0:3],0)
df7

Empty DataFrame
Columns: [City, Country, Employees, ID, Name, State]
Index: []

In [61]:
df7.drop(df7.columns[0:3],1)

Empty DataFrame
Columns: [ID, Name, State]
Index: []

In [62]:
df7.index

Index([], dtype='object', name='Address')

In [63]:
df7.columns

Index(['City', 'Country', 'Employees', 'ID', 'Name', 'State'], dtype='object')

In [67]:
df["Continent"]=df7.shape[0]*["North America"]

NameError: name 'df' is not defined

In [65]:
len(df7.index)

0

In [68]:
df7=pandas.read_csv("http://pythonhow.com/supermarkets.csv")

In [69]:
df7

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [70]:
len(df7.index)

6

In [73]:
df7["Continent"]=df7.shape[0]*["North America"]
df7

,ID,Address,City,State,Country,Name,Employees,Continent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America

In [74]:
df7.shape[0]

6

In [76]:
df7.shape[0]*["North America"]

['North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America']

In [78]:
df7_t=df7.T
df7_t

,0,1,2,3,4,5
ID,1,2,3,4,5,6
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Country,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
Employees,8,15,25,10,12,20
Continent,North America,North America,North America,North America,North America,North America

In [130]:
df7_t.shape

(6, 8)

In [134]:
df7_t["My Address"]=["my city","my state","my country","my name",10,"my continent"]
df7_t

,ID,Address,City,State,Country,Name,Employees,Continent,My Address
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America,my city
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America,my state
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America,my country
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America,my name
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America,10
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America,my continent

In [135]:
df7=df7_t.T

In [136]:
df7

,0,1,2,3,4,5
ID,1,2,3,4,5,6
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Country,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
Employees,8,15,25,10,12,20
Continent,North America,North America,North America,North America,North America,North America
My Address,my city,my state,my country,my name,10,my continent

In [148]:
from geopy.geocoders import Nominatim

In [158]:
nom=Nominatim(scheme='https')

In [204]:
n=nom.geocode("1644 Platte St, Denver, CO 80202")
n

Location(Galvanize Platte, 1644, Platte Street, Highland, Denver, Denver County, Colorado, 80202, United States of America, (39.75764085, -105.0069345, 0.0))

In [162]:
type(n)

geopy.location.Location

In [165]:
df=pandas.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [6]:
df["Address"]=df["Address"] + ", " + df["City"] + ", " + df["State"] + ", " + df["Country"]
df

NameError: name 'df' is not defined

In [8]:
import pandas
from geopy.geocoders import Nominatim
df=pandas.read_csv("supermarkets.csv")

In [5]:
df["Coordinates"]=df["Address"].apply(nom.geocode)
df.Coordinates[0]

NameError: name 'pandas' is not defined